name: Test

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: false
      - name: Install dependencies
        shell: bash -l {0}
        run: |
          conda install graphviz python=3.11
          pip install pytest pyyaml graphviz
      - name: Setup numba_rvsdg
        shell: bash -l {0}
        run: |
          pip install -e .
      - name: run pytest
        shell: bash -l {0}
        run: |
          pytest numba_rvsdg/tests/
